# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# Datasets (huge files that are originated from the credited KBBI dataset, or other sources such as project plans)
helpers/datasets/kbbi_v6.1.0_full.csv
helpers/datasets/Project_Roadmap.md

# Databases (temporary files)
src/database/kamus-terbuka.db-shm
src/database/kamus-terbuka.db-wal

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log